parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Call to an undefined method#'
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
